<!--
 - Created by Matt on 3/7/2022.
 -->

<!-- No Tails Screen (v2) -->
<template>
    <lightning-card class="slds-text-align_center">
        <lightning-layout horizontal-align="center" vertical-align="center">
            <lightning-layout-item size="8" class="slds-p-around_large slds-p-top_medium">
                <p class="slds-p-around_medium messageText">No Subscriptions requiring Tail registration found.</p>
                <p class="slds-p-around_small">Click 'OK' to activate the Contract and accept the Quote</p>
                <p class="slds-p-around_small">Click 'Cancel' to return to the Quote Detail Page</p>
            </lightning-layout-item>
        </lightning-layout>
        <p slot="footer">
            <lightning-layout horizontal-align="end">
                <lightning-layout-item>
                    <lightning-button class="slds-p-right_medium" label="Cancel" variant="brand-outline" onclick={handleCancel}></lightning-button>
                    <lightning-button label="OK" variant="brand" onclick={handleOK}></lightning-button>
                </lightning-layout-item>
            </lightning-layout>
        </p>
    </lightning-card>
</template>