<!--
 - Created by Matt on 3/25/2021.
 -->

<!-- Activate Order Amendment Quote -->
<template>
    <template if:true={isLoading}>
        <lightning-spinner size="medium" alternative-text="gathering records.."></lightning-spinner>
    </template>
        <template if:false={isLoading}>
            <template if:false={isError}>
                <lightning-card class="slds-text-align_center">
                    <slot name="title" class="max-width">
                        <div class="slds-text-title_bold slds-text-heading_large">Deactivate Old Subscriptions</div>
                    </slot>
                        <lightning-layout horizontal-align="center" vertical-align="center" multiple-rows="true">
                            <lightning-layout-item size="10">
                                <p class="slds-p-around_medium slds-text-color_error deactivated-text">After clicking 'NEXT', the following Old Order Items will have their System Tails DEREGISTERED:</p>
                            </lightning-layout-item>
                            <lightning-layout-item size="10">
                                <div >
                                    <table id="productTable" class="slds-table slds-table_bordered slds-border_left slds-border_right slds-p-bottom_large">
                                        <thead>
                                        <tr>
                                            <th scope="col">
                                                <div title="Product">Product</div>
                                            </th>
                                            <th scope="col" class="slds-wrap slds-cell-wrap">
                                                <div title="Aircraft">Aircraft</div>
                                            </th>
                                            <th scope="col" class="slds-cell-wrap">
                                                <div title="System Tail">System Tail</div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <template for:each={oldOrderItems} for:item="record">
                                            <tr key={record.id} data-id={record.id}>
                                                <td hidden>
                                                    <div class="slds-cell-wrap">{record.id}</div>
                                                </td>
                                                <td class="td-fixed-width">
                                                    <div class="slds-cell-wrap">{record.productName}</div>
                                                </td>
                                                <td>
                                                    <div class="slds-cell-wrap">{record.aircraft}</div>
                                                </td>
                                                <td>
                                                    <div class="slds-cell-wrap">{record.systemTailName}</div>
                                                </td>
                                            </tr>
                                        </template>
                                        </tbody>
                                    </table>
                                </div>
                            </lightning-layout-item>
                        </lightning-layout>
                        <p slot="footer">
                            <lightning-layout horizontal-align="end">
                                <lightning-layout-item>
                                    <lightning-button label="Cancel" variant="destructive" onclick={closeQuickAction} class="slds-p-right_medium"></lightning-button>
                                    <lightning-button label="Next" variant="brand" onclick={handleNext} disabled={buttonDisabled}></lightning-button>
                                </lightning-layout-item>
                            </lightning-layout>
                        </p>
                </lightning-card>
        </template>
            <template if:true={isError}>
                <lightning-card class="slds-text-align_center">
                    <slot name="title" class="max-width">
                        <div class="slds-text-title_bold slds-text-heading_large">Activate Order</div>
                    </slot>
                    <lightning-layout horizontal-align="center" vertical-align="center" multiple-rows="true">
                        <lightning-layout-item size="8" class="slds-p-around_large slds-text-color_error">
                           ERROR: Order is already 'Activated'.
                        </lightning-layout-item>
                    </lightning-layout>
                    <p slot="footer">
                        <lightning-layout horizontal-align="end">
                            <lightning-layout-item>
                                <lightning-button label="Close" variant="brand" onclick={closeQuickAction}></lightning-button>
                            </lightning-layout-item>
                        </lightning-layout>
                    </p>
                </lightning-card>
            </template>
    </template>
</template>