<!--
 - Created by Matt on 3/20/2021.
 -->

<!-- Activate Order Missing Prod System -->
<template>
        <lightning-card class="slds-text-align_center">
            <slot name="title" class="max-width">
                <div class="slds-text-title_bold slds-text-heading_large">ERROR</div>
            </slot>
            <lightning-layout horizontal-align="center" vertical-align="center" multiple-rows="true">
                <lightning-layout-item size="8" class="slds-p-around_large slds-text-color_error">
                    {errorMsg}
                </lightning-layout-item>
                <lightning-layout-item>
                    <p class="slds-p-around_medium">Missing Production Systems: {missingsystems}</p>
                </lightning-layout-item>
            </lightning-layout>
            <p slot="footer">
                <lightning-layout horizontal-align="end">
                    <lightning-layout-item>
                        <lightning-button label="Close" variant="brand" onclick={closeQuickAction}></lightning-button>
                    </lightning-layout-item>
                </lightning-layout>
            </p>
        </lightning-card>
</template>