<!--
 - Created by Matt on 3/19/2021.
 -->

<!-- Activate Order -->
<template>
    <template if:true={isLoading}>
        <lightning-spinner size="medium"></lightning-spinner>
    </template>
    <template if:false={isLoading}>
        <template if:false={contractPresentValue}>
            <c-activate-order-no-contract-found onclose={closeQuickAction}></c-activate-order-no-contract-found>
        </template>
        <template if:true={contractPresentValue}>
            <!-- Standard Quote Logic: START -->
            <template if:true={standardQuote}>
                <template if:true={showCmp}>
                    <c-activate-order-register-sys-tail-prompt onyes={handleYes} onno={handleNo}></c-activate-order-register-sys-tail-prompt>
                </template>
                <template if:true={userChoice}>
                    <template if:true={hasNoProdSystems}>
                    <!-- No Prod Systems available -->
                        <c-activate-order-no-prod-sys onclose={closeQuickAction}></c-activate-order-no-prod-sys>
                    </template>
                    <template if:false={hasNoProdSystems}>
                        <!-- At least 1 Prod System is present -->
                        <template if:false={userSelectionMade}>
                            <c-activate-order-select-prod-sys checkboxarray={checkboxArray} onmissingselections={handleMissingSystems} onvalidselectionsmade={handleValidSelections} onclose={closeQuickAction} ongoback={handleBack}></c-activate-order-select-prod-sys>
                        </template>
                    </template>
                    <!-- User has selected which Production System(s) they'd like to use to register tails to -->
                    <template if:true={userSelectionMade}>
                        <template if:true={showMissingSelectionError}>
                            <c-activate-order-missing-selected-prod-sys ongoback={handleBack} missingsystems={missingSelections} ></c-activate-order-missing-selected-prod-sys>
                        </template>
                        <template if:false={showMissingSelectionError}>
<!--                            <c-activate-order-data-table accountid={accountId} onupdated={handleUpdated} orderid={orderId} onclose={closeQuickAction} selectedsystems={validSelections}></c-activate-order-data-table>-->
                        </template>
                    </template>
                </template>
                <template if:false={showCmp}>
                    <template if:false={userChoice}>
                        <c-activate-order-activate-records orderid={orderId} onclose={closeQuickAction}></c-activate-order-activate-records>
                    </template>
                </template>
            </template>
            <!-- Standard Quote Logic: STOP -->

            <!-- Renewal Quote Logic: START -->
            <template if:true={renewalQuote}>
                <c-activate-order-activate-records orderid={orderId} onclose={closeQuickAction}></c-activate-order-activate-records>
            </template>
            <!-- Renewal Quote Logic: STOP -->

            <!-- Amendment Quote Logic: START -->
            <template if:true={amendmentQuote}>
                <c-activate-order-amendment-quote orderid={orderId} onderegistered={handleDeregistered} onclose={closeQuickAction}></c-activate-order-amendment-quote>
            </template>
            <template if:true={tailsDeregistered}>
                <c-activate-order-register-sys-tail-prompt onyes={handleYes} onno={handleNo}></c-activate-order-register-sys-tail-prompt>
            </template>
        </template>
        <!-- Amendment Quote Logic: STOP -->
    </template>
</template>