/**
 * Created by Matt on 3/19/2021.
*/

.THIS .slds-form-element_stacked .slds-checkbox, .slds-form-element_stacked .slds-radio, .slds-form_stacked .slds-form-element .slds-checkbox, .slds-form_stacked .slds-form-element .slds-radio, .slds-form_horizontal .slds-form-element_stacked .slds-checkbox, .slds-form_horizontal .slds-form-element_stacked .slds-radio {
  display: table !important;
}

.THIS .span {
  display: table !important;
}