<!--
 - Created by Matt on 3/20/2021.
 -->

<!-- Activate Order Register Sys Tail Prompt -->
<template>
    <lightning-card class="slds-text-align_center">
        <slot name="title" class="widthExpanded">
            <div class="slds-text-title_bold slds-text-heading_large">Activate Order</div>
        </slot>
        <lightning-layout horizontal-align="center" vertical-align="center">
            <lightning-layout-item size="8" class="slds-p-around_large slds-p-top_medium">
                <p class="slds-p-around_medium">Would you like to register System Tails?</p>
            </lightning-layout-item>
        </lightning-layout>
        <p slot="footer">
            <lightning-layout horizontal-align="end">
                <lightning-layout-item>
                    <lightning-button class="slds-p-right_medium" label="No" variant="destructive" onclick={handleNo}></lightning-button>
                    <lightning-button label="Yes" variant="brand" onclick={handleYes}></lightning-button>
                </lightning-layout-item>
            </lightning-layout>
        </p>
    </lightning-card>
</template>