<!--
 - Created by Matt on 3/24/2021.
 -->

<!-- Activate Order Activate Records -->
<template>
    <lightning-card class="slds-text-align_center">
        <slot name="title" class="widthExpanded">
            <div class="slds-text-title_bold slds-text-heading_large">Activate Contract & Order</div>
        </slot>
        <lightning-layout horizontal-align="center" vertical-align="center">
            <template if:true={isLoading}>
                <lightning-layout-item size="8" class="slds-p-around_large slds-p-top_medium">
                    <lightning-spinner size="medium" alternative-text="activating contract and order"></lightning-spinner>
                </lightning-layout-item>
            </template>
            <template if:false={isLoading}>
                <template if:false={isError}>
                    <lightning-layout-item size="8" class="slds-p-around_large slds-p-top_medium">
                        <p class="slds-p-around_medium">Please click 'Activate' to activate the Contract and Order records.</p>
                    </lightning-layout-item>
                </template>
                <template if:true={isError}>
                    <p class="slds-p-around_large">{errorMessage}</p>
                </template>
            </template>
        </lightning-layout>
        <p slot="footer">
            <lightning-layout horizontal-align="end">
                <lightning-layout-item>
                    <lightning-button class="slds-p-right_medium" label="Close" variant="destructive" onclick={closeQuickAction}></lightning-button>
                    <lightning-button label="Activate" variant="brand" onclick={handleActivate} disabled={buttonDisabled}></lightning-button>
                </lightning-layout-item>
            </lightning-layout>
        </p>
    </lightning-card>
</template>