<!--
 - Created by Matt on 3/19/2021.
 -->

<!-- Activate Order Select Prod Sys -->
<template>
    <lightning-card class="slds-text-align_center">
        <slot name="title" class="max-width">
            <div class="slds-text-title_bold slds-text-heading_large slds-p-bottom_large">Select a Production System</div>
        </slot>
        <lightning-layout horizontal-align="first" vertical-align="center" multiple-rows="true">
            <lightning-layout-item>
                <p class="slds-p-horizontal_small">Please select which Production System you would like to register System Tails to.</p>
            </lightning-layout-item>
            <lightning-layout-item size="8" class="slds-p-around_large slds-text-align_left">
                <lightning-checkbox-group name="Select a Production System"
                                          label="Select at least one Production System:"
                                          options={checkboxarray}
                                          value={value}
                                          onchange={handleChange}>
                </lightning-checkbox-group>
            </lightning-layout-item>
        </lightning-layout>
        <p slot="footer">
            <lightning-layout horizontal-align="spread">
                <lightning-layout-item>
                    <lightning-button class="slds-p-top_large" variant="base" label="Go Back" onclick={handleBack}></lightning-button>
                </lightning-layout-item>
                <lightning-layout-item>
                    <lightning-button label="Cancel" variant="destructive" onclick={closeQuickAction} class="slds-p-right_medium"></lightning-button>
                    <lightning-button label="Next" variant="brand" onclick={handleNext} disabled={buttonDisabled}></lightning-button>
                </lightning-layout-item>
            </lightning-layout>
            </p>
    </lightning-card>
</template>