<!--
 - Created by Matt on 3/22/2021.
 -->

<!-- Activate Order Data Table -->
<template>
    <template if:true={noRecordsFound}>
        <lightning-card class="slds-text-align_center">
            <slot name="title" class="max-width">
                <div class="slds-text-title_bold slds-text-heading_large">ERROR</div>
            </slot>
            <lightning-layout horizontal-align="center" vertical-align="center" multiple-rows="true">
                <lightning-layout-item size="8" class="slds-p-around_large slds-text-color_error">
                    No Order Products found that require System Tail registration!
                </lightning-layout-item>
            </lightning-layout>
            <p slot="footer">
                <lightning-layout horizontal-align="end">
                    <lightning-layout-item>
                        <lightning-button label="Close" variant="brand" onclick={closeQuickAction}></lightning-button>
                    </lightning-layout-item>
                </lightning-layout>
            </p>
        </lightning-card>
    </template>
    <template if:false={noRecordsFound}>
        <template if:true={isLoading}>
            <lightning-spinner size="large" alternative-text="Processing records"></lightning-spinner>
        </template>
        <template if:false={isLoading}>
            <lightning-card class="slds-text-align_center" style="width: 100% !important;">
                <slot name="title" class="max-width">
                    <div class="slds-text-title_bold slds-text-heading_large">Register System Tails</div>
                </slot>
                <lightning-layout horizontal-align="center" vertical-align="center" multiple-rows="true">
                    <lightning-layout-item size="12" class="slds-p-around_small">
                        <div >
                            <table id="productTable" class="slds-table slds-table_bordered slds-border_left slds-border_right slds-p-bottom_large">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <div title="Product">Product</div>
                                    </th>
                                    <th scope="col" class="slds-wrap slds-cell-wrap">
                                        <div title="Aircraft"><a data-id="aircraft" onclick={sortRows}>Aircraft</a></div>
                                    </th>
                                    <th scope="col" class="slds-cell-wrap">
                                        <div title="System Tail">System Tail</div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <template for:each={data} for:item="record">
                                    <tr key={record.Id} data-id={record.id}>
                                        <td key={record.Id} hidden>
                                            <div class="slds-cell-wrap">{record.id}</div>
                                        </td>
                                        <td key={record.Id} class="td-fixed-width">
                                            <div class="slds-cell-wrap">{record.productName}</div>
                                        </td>
                                        <td key={record.Id}>
                                            <div class="slds-cell-wrap">{record.aircraft}</div>
                                        </td>
                                        <td key={record.Id} class="tail-dropdown">
                                            <lightning-combobox name="availableTails"
                                                                label="System Tail"
                                                                value={record.tailId}
                                                                placeholder="Select a System Tail"
                                                                options={record.availableTails}
                                                                onchange={handleChange}
                                                                data-id={record.id}
                                                                variant="label-hidden"
                                            > <!--data-tailid={tailId}-->
                                            </lightning-combobox>
                                        </td>
                                    </tr>
                                </template>
                                </tbody>
                            </table>
                        </div>
                    </lightning-layout-item>
                </lightning-layout>
                <p slot="footer">
                    <lightning-layout horizontal-align="spread" class="slds-p-around_small">
                        <lightning-layout-item size="4">
                            <template if:true={duplicatesFound}>
                                <span class="slds-p-around_medium slds-text-color_error">ERROR: Duplicate System Tails detected. Each Product must have a unique System Tail assigned.</span>
                            </template>
                        </lightning-layout-item>
                        <lightning-layout-item>
                            <lightning-button label="Close" variant="destructive" onclick={closeQuickAction} class="slds-p-right_medium"></lightning-button>
                            <lightning-button label="Save" variant="brand" onclick={handleSave}></lightning-button>
                        </lightning-layout-item>
                    </lightning-layout>
                </p>
            </lightning-card>
        </template>
    </template>
</template>