<!--
 - Created by Matt on 2/25/2022
 -->

<!-- Activate Order Register Sys Tail Prompt -->
<template>
    <template if:true={showNoConfirm}>
        <lightning-layout multiple-rows="false" horizontal-align="space" vertical-align="center">
            <lightning-layout-item size="8" padding="around-small">
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="">
                        <!-- Modal/Popup Box LWC header here -->
                        <header class="slds-modal__header">
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Activate Contract & Accept Quote</h2>
                        </header>
                        <!-- Modal/Popup Box LWC body starts here -->
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <p style="padding: 10px; font-size: 1.1rem;">
                                <b>
                                    WARNING: After clicking 'OK', the associated Contract will be activated and the Quote will be transition to an 'Accepted' status.
                                </b>
                            </p>
                            <p>
                                If you would like to ABANDON all changes, please click 'Cancel' to close this warning, then click 'Cancel' on the previous screen.
                            </p>
                        </div>
                        <footer class="slds-modal__footer">
                            <button class="slds-button slds-button_neutral" data-id="cancel" onclick={handleModalCancel} title="Cancel">Cancel</button>
                            <button class="slds-button slds-button_brand" data-id="confirm" onclick={handleActivateConfirm} title="OK">Confirm</button>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </lightning-layout-item>
        </lightning-layout>
    </template>
    <lightning-card class="slds-text-align_center">
        <lightning-layout horizontal-align="center" vertical-align="center">
            <lightning-layout-item size="8" class="slds-p-around_large slds-p-top_medium">
                <p class="slds-p-around_medium messageText">Would you like to register System Tails?</p>
                <p class="slds-p-around_small">Clicking 'Yes' will bring you to the System Tail registration screen.</p>
                <p class="slds-p-around_small">Clicking 'No' will close the Opportunity and create the Contract.</p>
            </lightning-layout-item>
        </lightning-layout>
        <p slot="footer">
            <lightning-layout horizontal-align="end">
                <lightning-layout-item>
                    <lightning-button class="slds-p-right_medium" label="Cancel" variant="brand-outline" onclick={handleRegCancel}></lightning-button>
                    <lightning-button class="slds-p-right_medium" label="No" variant="destructive" onclick={handleNo}></lightning-button>
                    <lightning-button label="Yes" variant="brand" onclick={handleYes}></lightning-button>
                </lightning-layout-item>
            </lightning-layout>
        </p>
    </lightning-card>
</template>