.messageText {
    font-size: 1.3rem;
}

.slds-modal__container {
   height: fit-content;
   max-width: 80rem !important;
   width: 80% !important;

}

.slds-modal {
       position: absolute;
       left: 50%;
       top: 50%;
       margin-left: -400px;
       margin-top: -150px;
       padding-right: 50px;
}

.slds-backdrop.slds-backdrop_open {
    position: absolute;
}