/**
 * Created by Matt on 2/14/2022.
 */
.slds-spinner_container {
     background-color: rgba(0,0,0,.1);
     padding-top: 100px;
     background: none;
 }

 .test {
      font-size: 1.3rem;
      color: slategrey;
  }

  h1 {
      justify-content: center;
      align-content: center;
      text-align: center;
  }


 .loadingText {
     padding-top: 100px;
     font-size: 1rem;
     color: black;
 }

 .noTailsText {
     font-size: 1rem;
     color: black;
 }

 lightning-card{
     width: 80% !important;
     max-width: 80% !important;
 }