<!--
 - Created by Matt on 2/14/2022.
 -->

<!-- Activate Order (v2.0) -->
<template>
    <lightning-card class="slds-text-align_center">
        <h1 class="slds-text-title_caps test">
            <slot name="title" class="widthExpanded">
                Activate Order / Tail Registration Utility
            </slot>
        </h1>
        <template if:true={isLoading}>
            <template if:true={showLoadingScreen}>
                <div class="slds-align_absolute-center slds-p-around_large slds-p-top_x-large slds-m-top_large">
                    <span class="loadingText">{loadingText}</span>
                    <lightning-spinner size="medium" alternative-text="Gathering record data. Please wait..."></lightning-spinner>
                </div>
            </template>
        </template>
        <template if:false={isLoading}>
            <template if:true={showHomeScreen}>
                <c-register-sys-tail-prompt2  record-id={recordId} onyes={handleYesEvent} onno={activateOrder}></c-register-sys-tail-prompt2>
            </template>
            <template if:true={showDataTable}>
                <c-system-tail-data-table2   ongohome={handleGoHome}
                                             onshowtoast={handleShowToast}
                                             is-removing={isRemoving}
                                             registration={registration}
                                             registration-class={registrationClass}
                                             record-id={recordId}
                                             prod-systems={allQuoteLineProdSystems}
                                             onclose={closeQuickAction}
                                             onunsetloading={handleUnsetLoading}
                                             onsetloading={handleSetLoading}
                                             quote-line-data={quoteLineData}>
                </c-system-tail-data-table2>
            </template>
            <template if:true={showNoTailsFound}>
                <c-no-tails-screenv2 onactivatecontract={handleActivateEvent}
                                     oncancel={handleCancel}
                                     record-id={recordId}>
                </c-no-tails-screenv2>
            </template>
        </template>
    </lightning-card>
</template>