<!--
 - Created by Matt on 3/22/2021.
 -->

<!-- Activate Order Data Table -->
<template>
    <!-- Save Confirmation Modal: START -->
    <template if:true={showSaveConfirmation}>
        <lightning-layout multiple-rows="false" horizontal-align="space" vertical-align="center">
            <lightning-layout-item size="8" padding="around-small">
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="">
                        <!-- Modal/Popup Box LWC header here -->
                        <header class="slds-modal__header">
                            <template if:true={isRemoving}>
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Confirm DE-Activation</h2>
                            </template>
                            <template if:false={isRemoving}>
                                <h2 id="modal-heading-03" class="slds-text-heading_medium slds-hyphenate">Confirm Activation</h2>
                            </template>
                        </header>
                        <!-- Modal/Popup Box LWC body starts here -->
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <p style="padding: 10px; font-size: 1.1rem;">
                                <b>
                                    <template if:false={isRemoving}>
                                        Are you sure you would like to Activate these System Tails?
                                    </template>
                                    <template if:true={isRemoving}>
                                        Are you sure you would like to DE-Activate these System Tails?
                                    </template>
                                </b>
                            </p>
                            <p style="color: darkred; font-size: 1rem;" class="slds-p-top_medium">
                                <template if:true={isRemoving}>
                                    <b>Notice:</b> Clicking 'Confirm' will DEREGISTER all the selected System Tails below from the product subscription listed.
                                </template>
                                <template if:false={isRemoving}>
                                    <b>Notice:</b> Clicking 'Confirm' will associate all the System Tails configured to the Aircraft Registration records, will update the quote to 'Accepted', and will update the contract to 'Activated'.
                                </template>
                            </p>
                        </div>
                        <footer class="slds-modal__footer">
                            <button class="slds-button slds-button_neutral" data-id="cancel" onclick={closeSaveConfirm} title="Cancel">Cancel</button>
                            <button class="slds-button slds-button_brand" data-id="confirm" onclick={handleSave} title="OK">Confirm</button>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </lightning-layout-item>
        </lightning-layout>
    </template>
    <!-- Save Confirmation Modal: STOP -->
    <!-- System Tail Already Registered modal: START -->
    <template if:true={showAlreadyRegistered}>
        <lightning-layout multiple-rows="false" horizontal-align="space" vertical-align="center">
            <lightning-layout-item size="8" padding="around-small">
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                    <div class="">
                        <!-- Modal/Popup Box LWC header here -->
                        <header class="slds-modal__header">
                            <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Duplicate Assignment Found</h2>
                        </header>
                        <!-- Modal/Popup Box LWC body starts here -->
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                            <p style="color: darkred; font-size: 1rem;" class="slds-p-top_medium">
                                <b>Notice:</b> This System Tail has already been registered to the following QuoteLine:
                            </p>
                            <p style="font-size: 1rem;" class="slds-p-top_medium">Product: {selectedProduct}</p>
                            <p style="font-size: 1rem;" class="slds-p-top_medium">Aircraft: {selectedAircraft}</p>
                            <p> Please select a different System Tail for this Quote Line</p>
                        </div>
                        <footer class="slds-modal__footer">
                            <button class="slds-button slds-button_brand" data-id="warning_confirm" onclick={handleWarningConfirm} title="OK">OK</button>
                        </footer>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open"></div>
            </lightning-layout-item>
        </lightning-layout>
    </template>
    <!-- System Tail Already Registered modal: STOP -->
    <template if:true={isLoading}>
        <lightning-spinner size="large" alternative-text="Processing records"></lightning-spinner>
    </template>
    <template if:false={isLoading}>
        <lightning-card class="slds-text-align_center" style="width: 100% !important;">
            <slot name="title" class="max-width">
                <div class="slds-text-title_bold slds-p-around_medium slds-text-heading_large headingText"><div class={registrationClass}>Tail {registration}</div></div>
            </slot>
            <template if:true={isRemoving}>
                <p class="slds-p-around_medium helpText">Please select which System Tails you would like to DEREGISTER for each Product Subscription that was removed below</p>
            </template>
            <template if:true={hasAPGTails}>
                <lightning-layout horizontal-align="center" vertical-align="center" multiple-rows="true">
                    <lightning-layout-item size="12" class="slds-p-around_medium">
                        <div class="productionSysHeader">APG Tails</div>
                        <div >
                            <table id="productTable" class="slds-table slds-table_bordered slds-border_left slds-border_right slds-p-bottom_large">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="theadText" title="Product">Product</div>
                                    </th>
                                    <th scope="col" class="slds-wrap slds-cell-wrap">
                                        <div class="theadText" title="Aircraft"><a data-id="aircraft" onclick={sortRows}>Aircraft</a></div>
                                    </th>
                                    <th scope="col" class="slds-cell-wrap">
                                        <div class="theadText" title="System Tail">System Tail Select</div>
                                    </th>
                                    <th scope="col" class="slds-cell-wrap">
                                        <div class="theadText" title="Selected System Tail">Selected System Tail</div>
                                    </th>
                                    <th scope="col" style="visibility: hidden;" class="slds-cell-wrap">
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <template for:each={apgTails} for:item="record">
                                    <tr key={record.quoteLineId} data-target-id={record.quoteLineId}>
                                        <td key={record.quoteLineId} hidden>
                                            <div class="slds-cell-wrap">{record.quoteLineId}</div>
                                        </td>
                                        <td key={record.quoteLineId} class="td-fixed-width">
                                            <div class="slds-cell-wrap">{record.productName}</div>
                                        </td>
                                        <td key={record.quoteLineId}>
                                            <div class="slds-cell-wrap">{record.aircraftName}</div>
                                        </td>
                                        <td key={record.quoteLineId} class="tail-dropdown">
                                            <lightning-combobox name="availableTails"
                                                                label="System Tail"
                                                                value={record.selectedTail.value}
                                                                placeholder="Select a System Tail"
                                                                options={record.sysTailWrappers}
                                                                onchange={handleChange}
                                                                data-id={record.quoteLineId}
                                                                variant="label-hidden"
                                                                onfocus={handleFocus}
                                                                disabled={record.isRegistered}>
                                            </lightning-combobox>
                                        </td>
                                        <td key={record.quoteLineId} class="selected-tail">
                                            <div class="slds-cell-wrap">{record.selectedTail.label}</div>
                                        </td>
                                        <td key={record.quoteLineId} class="clear-selection">
                                            <template if:true={record.canRemove}>
                                                <lightning-icon icon-name="action:delete" data-id={record.quoteLineId} alternative-text="cancel"
                                                                title="Remove Assignment" size="x-small" onclick={handleIconClick}>
                                                </lightning-icon>
                                            </template>
                                        </td>
                                    </tr>
                                </template>
                                </tbody>
                            </table>
                        </div>
                    </lightning-layout-item>
                </lightning-layout>
            </template>
            <template if:true={hasRRTails}>
                <lightning-layout horizontal-align="center" vertical-align="center" multiple-rows="true">
                    <lightning-layout-item size="12" class="slds-p-around_medium">
                        <div class="productionSysHeader">RocketRoute Tails</div>
                        <div >
                            <table id="rrProductTable" class="slds-table slds-table_bordered slds-border_left slds-border_right slds-p-bottom_large">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="theadText" title="Product">Product</div>
                                    </th>
                                    <th scope="col" class="slds-wrap slds-cell-wrap">
                                        <div class="theadText" title="Aircraft"><a data-id="aircraft" onclick={sortRows}>Aircraft</a></div>
                                    </th>
                                    <th scope="col" class="slds-cell-wrap">
                                        <div class="theadText" title="System Tail">System Tail Select</div>
                                    </th>
                                    <th class="selected-tail">
                                        <div class="slds-cell-wrap">Selected System Tail</div>
                                    </th>
                                    <th scope="col" style="display: none;" class="slds-cell-wrap">

                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <template for:each={rrTails} for:item="record">
                                    <tr key={record.quoteLineId} data-target-id={record.quoteLineId}>
                                        <td key={record.quoteLineId} hidden>
                                            <div class="slds-cell-wrap">{record.quoteLineId}</div>
                                        </td>
                                        <td key={record.quoteLineId} class="td-fixed-width">
                                            <div class="slds-cell-wrap">{record.productName}</div>
                                        </td>
                                        <td key={record.quoteLineId}>
                                            <div class="slds-cell-wrap">{record.aircraftName}</div>
                                        </td>
                                        <td key={record.quoteLineId} class="tail-dropdown">
                                            <lightning-combobox name="availableTails"
                                                                label="System Tail"
                                                                value={record.selectedTail.value}
                                                                placeholder="Select a System Tail"
                                                                options={record.sysTailWrappers}
                                                                onchange={handleChange}
                                                                data-id={record.quoteLineId}
                                                                variant="label-hidden"
                                                                onfocus={handleFocus}
                                                                disabled={record.isRegistered}
                                            > <!--data-tailid={tailId}-->
                                            </lightning-combobox>
                                        </td>
                                        <td key={record.quoteLineId} class="selected-tail">
                                            <div class="slds-cell-wrap">{record.selectedTail.label}</div>
                                        </td>
                                        <td key={record.quoteLineId} class="clear-selection">
                                            <template if:true={record.canRemove}>
                                                <lightning-icon icon-name="action:delete" data-id={record.quoteLineId} alternative-text="cancel"
                                                                title="Remove Assignment" size="x-small" onclick={handleIconClick}>
                                                </lightning-icon>
                                            </template>
                                        </td>
                                    </tr>
                                </template>
                                </tbody>
                            </table>
                        </div>
                    </lightning-layout-item>
                </lightning-layout>
            </template>
            <template if:true={hasSATails}>
                <lightning-layout horizontal-align="center" vertical-align="center" multiple-rows="true">
                    <lightning-layout-item size="12" class="slds-p-around_medium">
                        <div class="productionSysHeader">Seattle Avionics Tails</div>
                        <div >
                            <table id="saProductTable" class="slds-table slds-table_bordered slds-border_left slds-border_right slds-p-bottom_large">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        <div class="theadText" title="Product">Product</div>
                                    </th>
                                    <th scope="col" class="slds-wrap slds-cell-wrap">
                                        <div class="theadText" title="Aircraft"><a data-id="aircraft" onclick={sortRows}>Aircraft</a></div>
                                    </th>
                                    <th scope="col" class="slds-cell-wrap">
                                        <div class="theadText" title="System Tail">System Tail Select</div>
                                    </th>
                                    <th class="selected-tail">
                                        <div class="slds-cell-wrap">Selected System Tail</div>
                                    </th>
                                    <th scope="col" style="display: none;" class="slds-cell-wrap">
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <template for:each={saTails} for:item="record">
                                    <tr key={record.quoteLineId} data-target-id={record.quoteLineId}>
                                        <td key={record.quoteLineId} hidden>
                                            <div class="slds-cell-wrap">{record.quoteLineId}</div>
                                        </td>
                                        <td key={record.quoteLineId} class="td-fixed-width">
                                            <div class="slds-cell-wrap">{record.productName}</div>
                                        </td>
                                        <td key={record.quoteLineId}>
                                            <div class="slds-cell-wrap">{record.aircraftName}</div>
                                        </td>
                                        <td key={record.quoteLineId} class="tail-dropdown">
                                            <lightning-combobox name="availableTails"
                                                                label="System Tail"
                                                                value={record.selectedTail.value}
                                                                placeholder="Select a System Tail"
                                                                options={record.sysTailWrappers}
                                                                onchange={handleChange}
                                                                data-id={record.quoteLineId}
                                                                variant="label-hidden"
                                                                onfocus={handleFocus}
                                                                disabled={record.isRegistered}
                                            > <!--data-tailid={tailId}-->
                                            </lightning-combobox>
                                        </td>
                                        <td key={record.quoteLineId} class="selected-tail">
                                            <div class="slds-cell-wrap">{record.selectedTail.label}</div>
                                        </td>
                                        <td key={record.quoteLineId} class="clear-selection">
                                            <template if:true={record.canRemove}>
                                                <lightning-icon icon-name="action:delete" data-id={record.quoteLineId} alternative-text="cancel"
                                                                title="Remove Assignment" size="x-small" onclick={handleIconClick}>
                                                </lightning-icon>
                                            </template>
                                        </td>
                                    </tr>
                                </template>
                                </tbody>
                            </table>
                        </div>
                    </lightning-layout-item>
                </lightning-layout>
            </template>
            <p slot="footer">
                <lightning-layout horizontal-align="spread" class="slds-p-around_small">
                    <lightning-layout-item size="4">
                        <template if:true={duplicatesFound}>
                            <span class="slds-p-around_medium slds-text-color_error">ERROR: Duplicate System Tails detected. Each Product must have a unique System Tail assigned.</span>
                        </template>
                    </lightning-layout-item>
                    <lightning-layout-item>
                        <lightning-button label="Close" variant="destructive" onclick={closeQuickAction} class="slds-p-right_medium"></lightning-button>
                        <lightning-button label="Save" variant="brand" onclick={confirmSave}></lightning-button>
                    </lightning-layout-item>
                </lightning-layout>
            </p>
        </lightning-card>
    </template>
</template>