/**
 * Created by Matt on 2/25/2022.
 */

.td-fixed-width {
    width: 10rem;
}

.headingText {
    font-size: 1.3rem;
}

.theadText {
    font-size: 1rem;
}

tr {
    padding: 2px;
}

input {
    overflow: visible;
}

.slds-modal__container {
   height: fit-content;
   max-width: 80rem !important;
   width: 80% !important;

}

.productionSysHeader {
    background-color: lightblue;
    border: 1px solid black;
    font-size: 1.2rem;
    text-transform: bold;
    width: 100%;
}

.slds-modal {
       position: absolute;
       left: 50%;
       top: 50%;
       margin-left: -400px;
       margin-top: -150px;
       padding-right: 50px;
}

.slds-backdrop.slds-backdrop_open {
    position: absolute;
}

.deregistration {
    background-color: red;
    font-size: 2rem;
}

.helpText {
    font-size: 1.3rem;
}

td.clear-selection {
    text-align: center;
}